@use "global" as *;

.article {
    display: block;
    width: calc(33.33% - rem(40) * 2 / 3);
    box-shadow: rem(2) rem(2) rem(10) #D9D9D9;
}

.article-inner {
    padding: rem(16) rem(16) rem(24) rem(16);
    background-color: $white;
}

.article-img {
    // max-width: rem(302);
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.article-img img {
    transition: transform .6s ease;
}

.article-img:hover img {
    transform: scale(1.1);
}

.article-body {
    padding-top: rem(18);
}

.article-date {
    font-size: rem(12);
    font-family: $en-font-family;
}

.article-title {
    font-size: rem(16);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $accent-color;
}

.article-text {
    margin-top: rem(16);
}