@use "global" as *;

.blog {
    padding-top: rem(80);
    padding-bottom: rem(40);

    @include mq('md') {
        padding-top: rem(93);
        padding-bottom: initial;
        padding-left: rem(10);
        padding-right: rem(10);
        position: relative;
        background-image: url(../images/common/blog-bgd.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        max-width: rem(1440);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.blog::after {
    content: "";
    position: absolute;
    top: rem(24);
    left: calc(50% - rem(1240) / 2);
    background-image: url(../images/common/blog-fish.png);
    display: inline-block;
    width: rem(437);/*画像の幅*/
    height: rem(201);/*画像の高さ*/
    background-size: contain;
    vertical-align: middle;
}

.blog-inner {

}

.blog-articles {
    margin-top: rem(28);

    @include mq('md') {
        display: flex;
        justify-content: center;
        margin-top: rem(80);
    }
}

.blog-article {
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        margin-left: initial;
        margin-right: initial;
    }
}

.blog-article + .blog-article {
    margin-top: rem(38);

    @include mq('md') {
        margin-top: initial;
        margin-left: rem(40);
    }
}

.blog-btn {
    margin-top: rem(39);
    margin-right: rem(3);

    @include mq('md') {
        margin-right: rem(6);
        margin-top: rem(77);
    }
}