@use "global" as *;

.blog {
    padding-top: rem(80);
    padding-bottom: rem(40);

    @include mq('md') {
        padding-top: rem(93);
        padding-bottom: initial;
        position: relative;
    }
}

.blog::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/blog-bgd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    z-index: -1;
}

.blog::after {
    display: none;

    @include mq('md') {
        display: block;
        content: "";
        position: absolute;
        top: rem(24);
        left: calc(50% - min(50vw,rem(650)));
        background-image: url(../images/common/blog-fish.png);
        display: inline-block;
        width: rem(437);/*画像の幅*/
        height: rem(201);/*画像の高さ*/
        background-size: contain;
        vertical-align: middle;
    }
}

.blog-inner {

}

.blog-articles {
    margin-top: rem(28);
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;
    // ここのpaddingはarticleの横幅を
    padding-left: 5px;
    padding-right: 5px;

    @include mq('md') {
        display: flex;
        flex-wrap: wrap;
        margin-top: rem(80);
        max-width: initial;
    }
}

.blog-article {
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        margin-left: initial;
        margin-right: initial;
    }
}

.blog-article + .blog-article {
    margin-top: rem(39);

    @include mq('md') {
        margin-top: initial;
        margin-left: rem(40);
    }
}

.blog-article:nth-child(4n) {
    @include mq('md') {
        margin-left: initial;
    }
}

.blog-article:nth-child(n+4) {
    @include mq('md') {
        margin-top: rem(40);
    }
}

.blog-btn {
    margin-top: rem(39);
    margin-right: rem(3);
    text-align: center;

    @include mq('md') {
        margin-right: rem(6);
        margin-top: rem(77);
    }
}