@use "global" as *;

.campaign {
    
}

.campaign-inner {
    padding-top: rem(42);
    padding-bottom: rem(40);
    max-width: rem(345);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        max-width: rem(1080);
        padding-top: rem(115);
    }
}

.campaign-header {
    margin-bottom: rem(2);
}

.campaign-btn {
    margin-top: rem(37);
    margin-right: rem(4);
    text-align: center;

    @include mq('md') {
        margin-top: rem(77);
    }
}