@use "global" as *;

.campaign {
    // overflow: hidden;
}

.campaign-inner {
    padding-top: rem(42);
    padding-left: rem(15);
    padding-bottom: rem(40);
    max-width: rem(600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        padding-top: rem(115);
    }
}

.campaign-header {
    margin-bottom: rem(2);
}

.campaign-btn {
    margin-top: rem(23);
    margin-right: rem(4);
    text-align: center;

    @include mq('md') {
        margin-top: rem(65);
    }
}