@use "global" as *;

.card {
    box-shadow: rem(2) rem(2) rem(10) #D9D9D9;
    // max-width: rem(345);
    width: 100%;

    @include mq('md') {
        // max-width: rem(520);
    }
}

.card-inner {
    padding: rem(15) rem(16) rem(24);

    @include mq('md') {
        padding: rem(24);
    }
}

.card-body {
    display: flex;
    align-items: flex-end;

    @include mq('md') {
        margin-top: rem(-9);
    }
}

.card-info {
    max-width: rem(300);
    width: 100%;
    margin-right: rem(13);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $accent-color;

    @include mq('md') {
        margin-right: rem(16);
        max-width: rem(276);
    }
}

.card-meta {
    @include mq('md') {
        display: flex;
    }
}

.card-personal {
    font-size: rem(12);
    line-height: (18 / 12);

    @include mq('md') {
        margin-top: auto;
    }
}

.card-label {
    display: inline-block;
    font-size: rem(12);
    color: $accent-color;
    line-height: (22 / 12);
    padding: rem(3) rem(11);
    border: rem(1) solid $accent-color;

    @include mq('md') {
        margin-left: auto;
        padding: rem(5) rem(15);
    }
}

.card-title {
    font-size: rem(16);
    line-height: (23 / 16);
    margin-top: rem(4);

    @include mq('md') {
        margin-top: rem(8);
        font-size: rem(24);
    }
}

.card-img {
    margin-top: rem(9);
    max-width: rem(300);
    width: 100%;
    height: auto;
    overflow: hidden;
    
    @include mq('md') {
        max-width: rem(180);
    }
}


.card-img img {
    aspect-ratio: 1.29059829;
    object-fit: cover;
    transition: transform .6s ease;

    @include mq('md') {
        aspect-ratio: 1.28571429;
    }
}

.card-img:hover img {
    transform: scale(1.1);
}

.card-text {
    margin-top: rem(16);

    @include mq('md') {
        margin-top: rem(40);
    }
}

.card-text p {
    font-size: rem(16);
    line-height: (24 / 16);
}
