@use "global" as *;

footer {
    background-color: $accent-color;
    padding-top: rem(41);
    padding-bottom: rem(56);
}

.footer-inner {
    max-width: rem(355);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        max-width: rem(1080);
        padding-left: rem(10);
    }
}

.footer-icon {

}

.footer-codeups {
    display: block;
    max-width: rem(120);
    width: 100%;
}

.footer-sns {
    display: flex;
    margin-top: rem(16);
}

.footer-facebook {
    display: block;
    max-width: rem(24);
    width: 100%;
}

.footer-instagram {
    display: block;
    max-width: rem(24);
    width: 100%;
    margin-left: rem(16);
}


.footer-items {
    display: flex;
    padding-top: rem(40);
    justify-content: center;

    @include mq('md') {
        padding-top: rem(29);
    }
}

.footer-item {

    @include mq('md') {
        display: flex;
    }

}

.footer-contents {

}

.footer-contents:nth-child(2) {

    @include mq('md') {
        margin-left: rem(120);
    }
}

.footer-content {

}

.footer-content + .footer-content {
    margin-top: rem(40);
}

.footer-item + .footer-item {
    margin-left: rem(16);

    @include mq('md') {
        margin-left: rem(120);
    }
}

.footer-content a {
    display: block;
    color: $white;
    padding-left: rem(24);
    padding-bottom: rem(12);
    position: relative;
}

.footer-content a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: rem(10);
    left: 0;
    /*線の形状*/
    width: 100%;
    height: rem(2);
    background: $white;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

.footer-content a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.footer-content .footer-content__bold {
    font-weight: bold;
    padding-bottom: rem(20);
    position: relative;
}

.footer-content .footer-content__bold::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    width: rem(18);
    height: rem(18);
    background-image: url(../images/common/footer-star.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.footer-copyright {
    margin-top: rem(10);
    text-align: center;
}

.footer-copyright p {
    color: $white;
    font-size: rem(11);
    font-family: $en-font-family;
}