@use "global" as *;

footer {
    margin-top: rem(102);
    background-color: $accent-color;
    padding-top: rem(49);
    padding-bottom: rem(56);

    @include mq('md') {
        margin-top: rem(160);
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer-inner.inner {
    max-width: rem(600);
    padding-right: rem(10);

    @include mq('md') {
       max-width: rem(1130);
       padding-right: rem(25);
    }
}

.footer-icon {
    @include mq('md') {
        display: flex;
        align-items: flex-end;
    }
}

.footer-codeups {
    display: block;
    max-width: rem(120);
    width: 100%;

    @include mq('md') {
        max-width: rem(200);
    }
}

.footer-sns {
    display: flex;
    margin-top: rem(16);

    @include mq('md') {
        margin-top: initial;
        margin-left: rem(40);
        margin-bottom: rem(4);
    }
}

.footer-facebook {
    display: block;
    max-width: rem(24);
    width: 100%;

    @include mq('md') {
        max-width: rem(32);
    }
}

.footer-instagram {
    display: block;
    max-width: rem(24);
    width: 100%;
    margin-left: rem(16);

    @include mq('md') {
        max-width: rem(32);
    }
}


.footer-items {
    display: flex;

    @include mq('md') {

    }
}

.footer-item {
    width: 100%;

    @include mq('md') {
        display: flex;
    }

}

.footer-item:nth-child(1) {
    margin-right: rem(16);

     @include mq('md') {
        margin-right: rem(34);
    }
}

.footer-contents {

}

.footer-contents:nth-child(2) {

    @include mq('md') {
        margin-left: rem(116);
    }
}

.footer-content {

}

.footer-content {
    margin-top: rem(40);
}

.footer-content:nth-child(1) {
    @include mq('md') {
        margin-top: rem(25);
    }
}

.footer-item + .footer-item {

}

.footer-link {
    display: block;
    line-height: 1.125;
    color: $white;
    padding-left: rem(23);
    position: relative;
}

.footer-link + .footer-link {
    margin-top: rem(24);
}

.footer-link span::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: rem(-5);
    left: 0;
    /*線の形状*/
    width: 100%;
    height: rem(2);
    background: $white;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

.footer-link:hover.footer-link span::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.footer-content .footer-link__bold {
    font-weight: bold;
    position: relative;
}

.footer-content .footer-link__bold::before {
    content: "";
    position: absolute;
    top: 5%;
    left: 0;
    width: rem(18);
    height: rem(18);
    background-image: url(../images/common/footer-star.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.footer-copyright {
    margin-top: rem(40);
    text-align: center;

    @include mq('md') {
        margin-top: rem(78);
    }
}

.footer-copyright p {
    color: $white;
    font-size: rem(12);
    font-family: $en-font-family;

    @include mq('md') {
        font-size: rem(14);
    }
}

.footer-br__sp {
    @include mq('md') {
        display: none;
    }
}