@use "global" as *;

header {
    height: rem(80);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 41, 54, 0.68);
    z-index: 999;
    
    @include mq('md') {
        height: rem(90);
    }
}

.header-inner {
    display: flex;
    height: inherit;
    align-items: center;
    // max-width: rem(1440);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        padding-left: rem(25);
        padding-right: rem(20);
    }
}

header.is-scroll {
    background-color: #9A9A9A;
}
