@use "global" as *;

.information {
    background-color: #DDF0F1;
    padding-top: rem(80);
    padding-bottom: rem(83);
    
    @include mq('md') {
        padding-top: rem(100);
        padding-bottom: rem(76);
        // padding-right: rem(10);
        // padding-left: rem(10);
    }
}

.top-information {
    margin-top: rem(70);

    @include mq('md') {
        margin-top: rem(164);
    }
}

.information__inner {
    max-width: rem(600);
}

.information__inner .section-header .section-title {
    @include mq('md') {
        margin-top: rem(-4);
    }
}

.information__inner .section-header .section-subtitle {
    @include mq('md') {
        margin-top: rem(2);
    }
}


.information__items {
    margin-top: rem(27);
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        display: grid;
        grid-template-columns: 1fr rem(492);
        gap: rem(48);
        align-items: center;
        margin-top: rem(40);
    }
}

.information__img {
    overflow: hidden;
}

.information__img img {
    aspect-ratio: 1.51982379;
    object-fit: cover;
    transition: transform .6s ease;

    @include mq('md') {
        aspect-ratio: 1.51685393;
    }
}

.information__img:hover img {
    transform: scale(1.1);
}

.information__body {
    margin-top: rem(21);

    @include mq('md') {
        margin-top: initial;
    }
}

.information__title {
    font-size: rem(20);
    font-weight: $bold;
    border-bottom: rem(1) solid $accent-color;

    @include mq('md') {
        font-size: rem(24);
        line-height: 1;
        padding-bottom: rem(8);
    }
}

.information__text {
    font-size: rem(16);
    margin-top: rem(8);
}

.information__btn {
    margin-top: rem(39);
    text-align: center;
}

