@use "global" as *;

.l-about-category {
    margin-top: rem(8);
}

.l-about-main {
    position: relative;
    margin-top: rem(52);

    @include mq('md') {
        margin-top: rem(150);
    }
}

.l-about-main::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/voice-fish.png);
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    top: rem(-70);
    left: calc(50% - min(48vw,rem(200)));
    width: rem(107);/*画像の幅*/
    height: rem(50);/*画像の高さ*/

    @include mq('md') {
        top: rem(-70);
        left: calc(50% - min(48vw,rem(620)));
        width: rem(301);/*画像の幅*/
        height: rem(138);/*画像の高さ*/
    }
}