@use "global" as *;

.page-about {

}

.page-about__inner {
    
}

.page-about-breadCrumb {
    margin-top: rem(8);
}

.page-about-main {
    margin-top: rem(52);
    position: relative;

    @include mq('md') {
        margin-top: rem(150);
    }
}

.page-about-main::before {
    content: "";
    position: absolute;
    background-image: url(../images/common/voice-fish.png);
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
    top: rem(-22);
    left: calc(50% - min(48vw,rem(200)));
    width: rem(107);/*画像の幅*/
    height: rem(50);/*画像の高さ*/

    @include mq('md') {
        top: rem(-70);
        left: calc(50% - min(48vw,rem(620)));
        width: rem(301);/*画像の幅*/
        height: rem(138);/*画像の高さ*/
    }
}

.page-about__contact {
    margin-top: rem(500);
}

.page-about__gallery {
    margin-top: rem(40);

    @include mq('md') {
        margin-top: rem(120);
    }
}