@use "global" as *;

.pc-nav {

    display: none;

    @include mq('md') {
        display: block;
        height: inherit;
        display: flex;
        margin-left: auto;
        align-items: center;
    }
}

.pc-nav__list {
    height: inherit;
}

.pc-nav__list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding-left: rem(20);
    padding-right: rem(20);
    position: relative;
}

.pc-nav__list a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: rem(10);
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: rem(2);
    background: $white;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

.pc-nav__list a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.pc-nav__list span {
    display: block;
    text-align: center;
    color: $white;
}

.pc-nav__list a span:nth-child(1) {
    font-size: rem(18);
    text-transform: capitalize;
    font-family: $en-font-family;
}

.pc-nav__list--uppercase a span:nth-child(1) {
    text-transform: uppercase;
}

.pc-nav__list a span:nth-child(2) {
    font-size: rem(10);
}