@use "global" as *;

.price {
    background-color: #DDF0F1;
    padding-top: rem(80);
    padding-bottom: rem(83);

    @include mq('md') {
        padding-top: rem(95);
        padding-bottom: rem(100);
        padding-left: rem(10);
        padding-right: rem(10);
        position: relative;
    }
}

.price::after {
    @include mq('md') {
        content: "";
        position: absolute;
        bottom: rem(60);
        left: calc(50% - rem(1237) / 2);
        background-image: url(../images/common/price-fish.png);
        display: inline-block;
        width: rem(437);/*画像の幅*/
        height: rem(201);/*画像の高さ*/
        background-size: contain;
        vertical-align: middle;
    }
}

.price-inner {

}

.price-inner .section-header {
    @include mq('md') {
        margin-right: rem(6);
    }
}

.price-contents {

    @include mq('md') {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: rem(39);
        max-width: rem(1080);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.price-img {
    overflow: hidden;
}

.price-img img {
    transition: transform .6s ease;
}

.price-img:hover img {
    transform: scale(1.1);
}

.price-img__sp {
    max-width: rem(345);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(29);

    @include mq('md') {
        display: none;
    }
}

.price-img__pc {
    display: none;

    @include mq('md') {
    display: block;
    max-width: rem(492);
    width: 100%;
    margin-left: rem(93);
    }
}

.price-items {
    max-width: rem(345);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        margin-left: initial;
        margin-right: initial;
        max-width: rem(492);
    }
}

.price-item {
    margin-top: rem(40);
}

.price-item:nth-child(1) {

    @include mq('md') {
        margin-top: initial;
    }
}

.price-title {
    font-size: rem(16);
    font-weight: $bold;
    padding-bottom: rem(3);
    border-bottom: rem(1) solid $accent-color;
}

.price-body {

}

.price-menu {
    display: flex;
    justify-content: space-between;
    margin-top: rem(8);
    line-height: 1.714285714285714;

    @include mq('md') {
        line-height: 1.5;
    }
}

.price-menu span {
    font-size: rem(14);


    @include mq('md') {
        font-size: rem(16);
    }
}

.price-btn {
    margin-top: rem(39);
    margin-right: rem(3);

    @include mq('md') {
        margin-top: rem(80);
    }
}