@use "global" as *;

.price {
    background-color: #DDF0F1;
    padding-top: rem(80);
    padding-bottom: rem(83);

    @include mq('md') {
        padding-top: rem(95);
        padding-bottom: rem(102);
        position: relative;
    }
}

.top-price {
    margin-top: rem(82);

    @include mq('md') {
        margin-top: rem(142);
    }
}

.price::after {
    @include mq('md') {
        content: "";
        position: absolute;
        bottom: rem(58);
        left: calc(50% - min(48vw,rem(620)));
        background-image: url(../images/common/price-fish.png);
        display: inline-block;
        width: rem(437);/*画像の幅*/
        height: rem(201);/*画像の高さ*/
        background-size: contain;
        vertical-align: middle;
    }
}

.price__inner {

}

.price__inner .section-header {
    @include mq('md') {
        margin-right: rem(6);
    }
}

.price__contents {
    max-width: rem(600);
    margin-left: auto;
    margin-right: auto;

    
    @include mq('md') {
        display: grid;
        grid-template-columns: rem(492) 1fr;
        gap: rem(93);
        justify-content: center;
        margin-top: rem(39);
        max-width: initial;
    }
}

.price__img {
    overflow: hidden;
}

.price__img img {
    transition: transform .6s ease;
}

.price__img:hover img {
    transform: scale(1.1);
}

.price__img--sp {
    width: 100%;
    margin-top: rem(29);

    @include mq('md') {
        display: none;
    }
}

.price__img--sp img {
    aspect-ratio: 1.51982379;
    object-fit: cover;
}

.price__img--pc {
    display: none;

    @include mq('md') {
    order: 2;
    display: block;
    }
}

.price__img--pc img {

    @include mq('md') {
        aspect-ratio: 0.65951743;
        object-fit: cover;
    }
}

.price__items {
    max-width: rem(345);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        margin-left: initial;
        margin-right: initial;
        max-width: rem(492);
    }
}

.price__item {
    margin-top: rem(40);
}

.price__item:nth-child(1) {

    @include mq('md') {
        margin-top: initial;
    }
}

.price__title {
    font-size: rem(16);
    font-weight: $bold;
    padding-bottom: rem(3);
    border-bottom: rem(1) solid $accent-color;
}

.price__body {

}

.price__menu {
    display: flex;
    justify-content: space-between;
    margin-top: rem(8);
    line-height: 1.714285714285714;

    @include mq('md') {
        line-height: 1.5;
    }
}

.price__menu span {
    font-size: rem(14);


    @include mq('md') {
        font-size: rem(16);
    }
}

.price__menu span:first-child {
    padding-right: rem(20);
}

.price__btn {
    margin-top: rem(39);
    text-align: center;

    @include mq('md') {
        margin-top: rem(80);
    }
}
