@use "global" as *;

// セクションヘッダー共通
.section-header {
    text-align: center;
}

.section-header__title {
    font-size: rem(32);
    font-family: $en-font-family;
    font-weight: 400;
    line-height: 1.25;
    @include mq('md') {
        font-size: rem(40);
    }
}

.section-header__title::first-letter {
    text-transform: uppercase;
    color: $accent-color;
}

.section-header__subtitle {
    font-size: rem(12);
    color: $accent-color;
    line-height: (18 / 12);
    margin-top: rem(4);
    
    @include mq('md') {
        // margin-top: rem(8);
    }
}

// ブログのみ
.section-header__title.section-header__title--blog {
    @include mq('md') {
        color: $white;
    }
}

.section-header__title.section-header__title--blog::first-letter {
    @include mq('md') {
        color: $white;
    }
}

.section-header__subtitle.section-header__subtitle--blog {
    @include mq('md') {
        color: $white;
    }
}

// コンタクトのみ
.section-header__title.section-header__title--contact {
    font-size: rem(80);
    line-height: 0.9;
}

.section-header__subtitle.section-header__subtitle--contact {
    margin-top: initial;
    line-height: 1;
}