@use "global" as *;

// セクションヘッダー共通
.section-header {
    text-align: center;
}

.section-title {
    font-size: rem(32);
    font-family: $en-font-family;
    @include mq('md') {
        font-size: rem(40);
    }
}

.section-title::first-letter {
    text-transform: uppercase;
    color: $accent-color;
}

.section-subtitle {
    font-size: rem(12);
    color: $accent-color;
    line-height: (18 / 12);
    margin-top: rem(4);
    
    @include mq('md') {
        margin-top: rem(8);
    }
}

// ブログのみ
.section-title.section-title__blog {
    @include mq('md') {
        color: $white;
    }
}

.section-title.section-title__blog::first-letter {
    @include mq('md') {
        color: $white;
    }
}

.section-subtitle.section-subtitle__blog {
    @include mq('md') {
        color: $white;
    }
}

// コンタクトのみ
.section-title.section-title__contact {
    font-size: rem(80);
    line-height: 1;
}

.section-subtitle.section-subtitle__contact {
    margin-top: initial;
}