@use "global" as *;

.slide {
    display: block;
    max-width: rem(280);
    width: 100%;
    margin-top: rem(24);
    box-shadow: rem(2) rem(2) rem(10) #D9D9D9;

    @include mq('md') {
        max-width: rem(333);
    }
}

.slide-inner {

}

.slide-img {
    max-width: rem(288);
    width: 100%;
    overflow: hidden;

    @include mq('md') {
        max-width: rem(333);
    }
}

.slide-img img {
    transition: transform .6s ease;
}

.slide-img:hover img {
    transform: scale(1.1);
}

.slide-body {
    padding: rem(16) rem(16) rem(24);
}

.slide-label {
    display: inline-block;
    padding: rem(4) rem(12);
    border: rem(1) solid $accent-color;
    font-size: rem(12);
    line-height: (22 / 12);
}

.slide-title {
    font-size: rem(16);
    margin-top: rem(4);
    padding-bottom: rem(8);
    border-bottom: rem(1) solid $accent-color;
}

.slide-info {
    font-size: rem(14);
    margin-top: rem(8);
    text-align: center;
}

.slide-price {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.slide-oldprice {
    font-size: rem(20);
    font-weight: $bold;
}

.slide-newprice {
    font-size: rem(32);
    font-weight: $bold;
    margin-left: rem(16);
    color: $accent-color;
    line-height: 1;
    margin-top: rem(8);
}