@use "global" as *;

.totop {
    display: inline-block;
    width: rem(48);
    height: rem(48);
    position: fixed;
    bottom: rem(20);
    right: rem(15);
    border: rem(1) solid $accent-color;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 2;

    @include mq('md') {
        width: rem(80);
        height: rem(80);
        right: rem(20);
    }
}

.totop:hover {
    background-color: $accent-color;
    border: rem(1) solid $white;
}

.totop:hover .totop-allow span {
    background: $white;
}
  
.totop.is-show {
    opacity: 1;
    visibility: visible;
}

.totop-allow span {
    display: block;
    background: $accent-color;
    border-radius: rem(1);
    position: relative;
    transition: all 0.3s;
}

.totop-allow span:nth-child(1) {
    width: rem(28);
    height: rem(1);
    top: rem(24);
    left: rem(9);
    transform: rotate(90deg);

    @include mq('md') {
        width: rem(40);
        top: rem(40);
        left: rem(20);
    }
}

.totop-allow span:nth-child(2) {
    width: rem(8);
    height: rem(1);
    left: rem(17);
    top: rem(12);
    transform: rotate(125deg);

    @include mq('md') {
        width: rem(10);
        left: rem(32);
        top: rem(24);
    }
}