@use "global" as *;

.voice {
    padding-top: rem(43);
    padding-bottom: rem(82);

    @include mq('md') {
        padding-top: rem(138);
        padding-bottom: rem(142);
        padding-left: rem(10);
        padding-right: rem(10);
        margin-right: rem(1);
        position: relative;
    }
}

.voice::before {
    content: "";
    position: absolute;
    top: rem(23);
    left: calc(50% - rem(1240) / 2);
    background-image: url(../images/common/voice-fish.png);
    display: inline-block;
    width: rem(301);/*画像の幅*/
    height: rem(138);/*画像の高さ*/
    background-size: contain;
    vertical-align: middle;
}

.voice::after {

    @include mq('md') {
        content: "";
        position: absolute;
        bottom: rem(72);
        right: calc(50% - rem(1080) / 2);
        background-image: url(../images/common/voice-dra.png);
        display: inline-block;
        width: rem(71);/*画像の幅*/
        height: rem(162);/*画像の高さ*/
        background-size: contain;
        vertical-align: middle;
    }
}

.voice-inner {

}

.voice-cards {
    margin-top: rem(43);

    @include mq('md') {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: rem(1080);
        width: 100%;
        margin-top: rem(30);
        margin-left: auto;
        margin-right: auto;
    }
}

.voice-card {
    margin-left: auto;
    margin-right: auto;

    @include mq('md') {
        margin-left: initial;
        margin-right: initial;
    }
}

.voice-card + .voice-card {
    margin-top: rem(39);

    @include mq('md') {
        margin-top: initial;
        margin-left: rem(40);
    }
}

.voice-btn {
    margin-top: rem(38);
    margin-right: rem(3);

    @include mq('md') {
        margin-top: rem(80);
    }
}